<!DOCTYPE html>
<html>
  <head>
    <title>MangaAPI - A Python-based web scraping API built with FastAPI</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.png') }}">

    <!-- Vendor js files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='vendor/daisy-ui/daisy-ui.min.css') }}">
    <script src="{{ url_for('static', path='vendor/tailwind/tailwind.js') }}"></script>
  </head>
  <body class="bg-black">
    <main class="flex flex-col w-screen h-screen items-center justify-center">
      <h1 class="md:text-[5vw]">manga-api</h1>
      <a
        target="_blank"
        class="btn btn-primary leading-none md:px-[2vw] md:py-[1vw] md:text-[1vw]"
        href="https://manga-apiv1.vercel.app/docs/"
      >
        Swagger Docs
      </a>
    </main>

    <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
