<!DOCTYPE html>
<html>
  <head>
    <title>MangaAPI - A Python-based web scraping API built with FastAPI</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.png') }}">

    <!-- Vendor js files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='vendor/daisy-ui/daisy-ui.min.css') }}">
    <script src="{{ url_for('static', path='vendor/tailwind/tailwind.js') }}"></script>
  </head>
  <body class="bg-black font-mono h-screen">
    <header class="md:px-20 flex items-center justify-between md:py-5 border-b-[0.1rem] border-white/10">
      <a href="/" class="hover:text-white transition-colors">manga-api documentation</a>
      <div class="flex items-center md:gap-5">
        <a href="https://github.com/tokitouq/manga-api/blob/main/LICENSE" target="_blank">License 📜 </a>
        <a href="https://github.com/tokitouq/manga-api" target="_blank">Github</a>
      </div>
    </header>
    <main class="md:px-20 md:py-5 grid grid-cols-[14rem_1fr]">
      <div>
        <div class="flex flex-col">
          {% for provider, data in sidebar_mapping.items() %}
          <div class="collapse collapse-arrow rounded-none">
            {% if loop.index == 1 %}
            <input checked="checked" type="radio" name="sidebar-accordian" class="peer" />
            {% else %}
            <input type="radio" name="sidebar-accordian" class="peer" />
            {% endif %}
            <div class="collapse-title p-2 min-h-max h-max peer-checked:bg-white/5 rounded-md">
              {{ provider }}
            </div>
            <div class="collapse-content flex flex-col md:gap-2"> 
              {% for service, url in data.items() %}
              <a href={{ url }} class="capitalize hover:text-white transition-colors">{{ service }}</a>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div></div>
    </main>

    <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
