<!DOCTYPE html>
<html>
  <head>
    <title>MangaAPI - A Python-based web scraping API built with FastAPI</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.png') }}">

    <!-- Vendor js files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='vendor/daisy-ui/daisy-ui.min.css') }}">
    <script src="{{ url_for('static', path='vendor/tailwind/tailwind.js') }}"></script>
  </head>
  <body class="bg-black font-mono h-screen">
    <header class="md:px-20 flex items-center justify-between md:py-5 border-b-[0.1rem] border-white/10">
      <a href="/" class="text-white hover:text-white/75 transition-colors">manga-api documentation</a>
      <div class="flex items-center md:gap-5">
        <a href="https://github.com/tokitouq/manga-api/blob/main/LICENSE" target="_blank">License 📜 </a>
        <a href="https://github.com/tokitouq/manga-api" target="_blank">Github</a>
      </div>
    </header>
    <main class="md:px-20 md:py-5 grid grid-cols-[14rem_1fr]">
      <div class="flex flex-col md:gap-2 text-sm">
        <span class="font-semibold">Get Started:</span>
        <a href="/" class="{% if request.url.path == '/' %}text-white bg-white/5{% endif %} w-full text-sm hover:bg-white/5 hover:text-white md:p-2 rounded-md transition-colors">Introduction</a>
        <a href="/list-of-providers" class="{% if request.url.path == '/list-of-providers' %}text-white bg-white/5{% endif %} w-full text-sm hover:bg-white/5 hover:text-white md:p-2 rounded-md transition-colors">List of Providers</a>
        <span class="font-semibold">Manga:</span>
        <div class="flex flex-col text-sm">
          {% for provider, data in sidebar_mapping.items() %}
          <div class="collapse collapse-arrow rounded-none">
            {% if loop.index == 1 %}
            <input checked="checked" type="radio" name="sidebar-accordian" class="peer min-h-max" />
            {% else %}
            <input type="radio" name="sidebar-accordian" class="peer min-h-max" />
            {% endif %}
            <div class="collapse-title p-2 min-h-max h-max peer-checked:bg-white/5 rounded-md peer-checked:!text-white">
              {{ provider }}
            </div>
            <div class="collapse-content flex flex-col md:gap-2 md:pt-3"> 
              {% for service, url in data.items() %}
              <a href={{ url }} class="capitalize hover:text-white transition-colors">{{ service }}</a>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
        <img class="md:w-full md:h-auto" src="{{ url_for('static', path='images/luffy.gif') }}" alt="Gif">
      </div>
      <div></div>
    </main>

    <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
