* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main .container {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main .container h1 {
  font-size: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

main .container h1 a {
  font-size: 2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

main .container p {
  text-align: center;
  max-width: 40rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
}

main .container .links {
  padding-top: 1rem;
}

main .container .links button {
  border: none;
  outline: none;
  padding: 1rem 1.75rem;
  border-radius: 0.35rem;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.15s;
}

main .container img {
/*  padding-top: 1rem;*/
  width: 50rem;
  pointer-events: none;
}

main .container .promo {
  margin-top: auto;
  color: rgba(255, 255, 255, 0.75);
}

/* lines animation */
.lines {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 60rem;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
